body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0fc2f0;
}

html, body, #root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.wrapper {
	height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
	margin: 0 auto;
  text-align: center;
}

.row {
	display: flex;
  flex-direction: row;
  color: #fff;
  background: #2d2f35;
  height: 30px;
  padding: 1px;
}

.item-hidden {
	background: #1d1f27;
}

.item-clear {
	background-color: #32333A;
}

.item {
	cursor: pointer;
  display: flex;
  flex-direction: column;
  color: #fff;
	/* background: ${props => props.isBomb ? '#9e2828' : '#1d1f27'}; */
  width: 30px;
  height: 30px;
  margin: 0 1px;
  justify-content: center;
  font-size: 14px;
}

.item:hover {
	/* background: ${props => props.isBomb ? '#9e2828' : '#22242d'}; */
	background: #22242d;
};

.img {
	height: 30px;
  width: 30px;
}